{% extends 'layout.html' %}

{% block styles %}
{% parent %}
<link rel="stylesheet" href="/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">:: Sassions playground ::</a>
	</div>
	<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
		<ul class="nav navbar-nav">
			<li><a href="/presentation">Presentacion</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="resizeme col-md-4">
			<div class="HtmlPanel panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">Resultado</div>
				<div class="panel-body">
					<iframe src="" id="iframeResult" frameborder="0"></iframe>
				</div>
				<div class="panel-body">
					<textarea name="htmlCode" id="htmlCode" class="col-md-12"></textarea>
				</div>
			</div>
		</div>
		<div class="resizemeCon col-md-4">
			<div class="SassPanel panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">Sass Code <span class="label label-primary">updating...</span></div>
				<div class="panel-body">
					<textarea name="sassCode" id="sassCode" class="col-md-12"></textarea>
				</div>
			</div>
		</div>
		<div class="resizemeCon col-md-4">
			<div class="CssPanel panel panel-info">
				<!-- Default panel contents -->
				<div class="panel-heading">Css Code</div>
				<div class="panel-body">
					<textarea name="cssCode" id="cssCode" class="col-md-12"></textarea>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<script src="/vendor/codemirror/lib/codemirror.js"></script>
<script src="/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="/vendor/codemirror/mode/sass/sass.js"></script>
<script src="/vendor/codemirror/mode/css/css.js"></script>
<script src="/vendor/codemirror/mode/xml/xml.js"></script>
<script src="/vendor/codemirror-emmet/emmet.min.js"></script>
<script src="/vendor/lodash/dist/lodash.min.js"></script>
<script src="/vendor/sass-bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
	$(function(){
		var $sassPanel = $('#SassPanel');
		var $iFrame = $('#iframeResult').contents();
		var $iFrameBody = $iFrame.find('body');
		var $iFrameHead = $iFrame.find('head');

		var SassCodeMirror = CodeMirror.fromTextArea( $('#sassCode')[0], {
			mode : "sass",
			lineNumbers: true,
			styleActiveLine: true,
			matchBrackets: true,
			smartIndent:false,
			// define Emmet output profile
    		profile: 'xhtml'
		});
		var CssCodeMirror = CodeMirror.fromTextArea( $('#cssCode')[0], {
			mode : "css",
			lineNumbers: true,
			styleActiveLine: true,
			matchBrackets: true,
			readOnly:true,
			// define Emmet output profile
    		profile: 'xhtml'
		});

		var HTMLCodeMirror = CodeMirror.fromTextArea( $('#htmlCode')[0], {
			mode : "xml",
    		htmlMode: true,
			lineNumbers: true,
			styleActiveLine: true,
			matchBrackets: true,
			// define Emmet output profile
    		profile: 'xhtml'
		});

		SassCodeMirror.on("change", _.debounce(changeSass, 500));
		CssCodeMirror.on("change", _.debounce(changedCss, 100));
		HTMLCodeMirror.on("change", _.debounce(changeIframeContent, 100));

		$('.resizeme').resizable({ 
			handles: "e, w"
		});
		$('.resizemeCon').resizable({
			handles: "e, w", 
			alsoResize: ".resizemeCon"
		});

		function changeSass(instance){
			console.log('Sass -- changed');
			$.ajax({
				url: "/sass",
				data: { data : SassCodeMirror.getValue() },
				success: function(data) {
					CssCodeMirror.setValue(data);
				}
			});
		}

		function changedCss(instance){
			console.log('Css -- received');
			changeIframeStyle( instance.getValue() );
		}

		function changeIframeContent(instance){
			$iFrameBody.html(instance.getValue());
		}

		function changeIframeStyle( styles ){
			$iFrameHead.html('<style>'+styles+'</style>');
		}

	});
</script>
{% endblock %}