{% extends 'presentationLayout.html' %}

{% block presentationContent %}
	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
	<!-- 
		- intro
		- Que es un módulo?
		- Modulo Simple
		- Yeoman de creacion de módulos i3TV
		- Estructura del módulo
			- Backbone
			- Nunjucks (Platillas)
			- grunt
			- browserify
			- copy-cdn
			- ciclo de vida
		- publicacion del Módulo
			- git (intergitlab)
			- sinopia\private bower
		- Sites
		- Que es un Site?
	-->
		{% include 'contents/splash.html' %}
		{% include 'contents/module_definition.html' %}
		<section>
			<h1>Mi primer Módulo <img src="http://www.antena3.com/public/img/grupo-atresmedia.svg" width="200px" style="vertical-align:middle"></h1>
		</section>
		{% include 'contents/module_yeoman.html' %}
		{% include 'contents/module_structure.html' %}
		{% include 'contents/module_entry_point.html' %}
		{% include 'contents/module_mainView.html' %}
		{% include 'contents/module_loader.html' %}
		<section>
			<h1>Probando el Módulo <img src="http://www.antena3.com/public/img/grupo-atresmedia.svg" width="200px" style="vertical-align:middle"></h1>
		</section>
		{% include 'contents/module_start.html' %}
		<section>
			<h1>Publicando el Módulo <img src="http://www.antena3.com/public/img/grupo-atresmedia.svg" width="200px" style="vertical-align:middle"></h1>
		</section>
		<section>
			<h1>Publicando el Módulo <img src="http://www.antena3.com/public/img/grupo-atresmedia.svg" width="200px" style="vertical-align:middle"></h1>
			<h2>Configuracion de <strong>npm</strong> y <strong>bower</strong></h2>
			<div>
			<img src="https://docs.npmjs.com/images/npm.svg" width="100px" style="vertical-align: middle;">
			<img src="https://raw.githubusercontent.com/Hacklone/private-bower/master/site/logo.png" width="100px" style="vertical-align: middle;">
		</div>
		</section>
		{% include 'contents/repos_config.html' %}
		{% include 'contents/repos_publish.html' %}
		{% include 'contents/repos_publish2.html' %}
		<section>
			<h1>Resumen del ciclo de vida <img src="http://www.antena3.com/public/img/grupo-atresmedia.svg" width="200px" style="vertical-align:middle"></h1>
		</section>
		{% include 'contents/module_life_cicle.html' %}
	</div>
{% endblock %}