{% extends 'presentationLayout.html' %}

{% block presentationContent %}
	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
		<section>
			<h1>Sassions</h1>
			<img src="/images/logo-235e394c.png" style="border: none;box-shadow: none;width: 20%;">
			<p>Escribe menos CSS con Sass</p>
			<code><a href="http://sass-lang.com/">http://sass-lang.com/</a></code>
		</section>
		<section>
			<h2>¿Por qué?</h2>
			<small>
				<p>CSS es nuestra herramienta de batalla para ordenar y dar una capa visual a la web; <br/>pero se puede convertir en un auténtico dolor de cabeza cuando los archivos crecen mucho.</p>
				<p>El problema más común al trabajar con css son las <strong>contínuas repeticiones de código</strong> (colores, selectores anidados, vendors,...)</p>
			</small>
			<pre><code class="css">.container{
        border-color : #fabada;
               color : #fabada;
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
       -o-box-sizing : border-box;
      -ms-box-sizing : border-box;
          box-sizing : border-box;
}
.container p {
	-webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
       -o-box-sizing : border-box;
      -ms-box-sizing : border-box;
          box-sizing : border-box;
}</code></pre>
		</section>
		<section>
			<h2>¿Por qué?</h2>
			<img src="/images/logo-235e394c.png" style="border: none;box-shadow: none;width: 10%;">
			<p>El mismo código</p>
			<pre><code class="scss css">$mainColor: #fabada;
@mixin boxSizing($val:border-box){
  -webkit-box-sixing: $val;
  -moz-box-sixing: $val;
  -o-box-sixing: $val;
  -ms-box-sixing: $val;
  box-sixing: $val;
}

.container{
  border-color: $mainColor;
  color: $mainColor;
  @include boxSizing();
  p {
    @include boxSizing();
  }
}</code></pre>
		</section>
		<section>
			<h2>Alternativas</h2>
			<ul>
				<li><a href="http://lesscss.org/">LESS</a></li>
				<li><a href="http://learnboost.github.com/stylus/">Stylus</a></li>
			</ul>
		</section>
		<section>
			<section>
				<h2>Instalación</h2>
				<p>Sass está desarrollado en Ruby, y generado como una gema, lo que permite su instalacion mediante el administrador de paquetes (package manager) de ruby <code>gem</code>, por tanto, para poder trabajar con sass es necesario tener instalado Ruby.</p>
			</section>
			<section>
				<h3>Instalando en <strong>Windows</strong></h3>
				<img src="/images/logoRubyInstaller.png" style="border: none;box-shadow: none;width: 20%;">
				<p>
					<strong>Ruby Installer</strong>
					(<a href="http://www.rubyinstaller.org/">http://www.rubyinstaller.org/</a>)
				</p>
				<p>facilita la instalación de Ruby mediante un cómodo instalador</p>
				<p>Una vez acabada la instalación de ruby instalamos sass</p>
				<pre><code>$ gem install sass</code></pre>
				<p>Verificamos que se encuentra instalado correctamente</p>
				<pre><code>$ sass -v</code></pre>
			</section>
			<section>
				<h3>Instalando en <strong>OSX</strong></h3>
				<p>Ruby viene instalado por defecto en OSX, sólo hay que instalar la gema de Sass</p>
				<pre><code>$ gem install sass</code></pre>
				<p>Verificamos que se encuentra instalado correctamente</p>
				<pre><code>$ sass -v</code></pre>
			</section>
		</section>

		<section>
			<section>
				<h3>Primeros pasos</h3>
				<p><small>
					Sass soporta dos formatos de escritura <strong><code>.sass</code></strong>(versión antígüa) y <strong><code>.scss</code></strong> (nos centraremos en ésta)
				</small></p>
				<ul>
					<li>
						Procesar un archivo
						<pre><code>$ sass input.scss output.css</code></pre>
					</li>
					<li>
						Escuchar los cambios de un archivo y procesarlo
						<pre><code>$ sass --watch input.scss:output.css</code></pre>
					</li>
					<li>
						Escuchar un directorio entero y procesarlo en otro directorio
						<pre><code>$ sass --watch app/sass:public/stylesheets</code></pre>
					</li>
					<li>
						Convertir .css a .scss
						<pre><code>$ sass-convert style.css style.scss --from css --to scss</code></pre>
					</li>
				</ul>
			</section>
			<section>
				<h3>Configurando la salida</h3>
				<pre><code>$ sass input.scss output.css --style [nested|expanded|compact|compressed]</code></pre>
				<p>&nbsp;</p>
				<small>
					<ul>
						<li>
							<p><strong>nested</strong> (por defecto)</p>
							<p>Cada propiedad tiene su propia línea. Cada regla es indentada en base de su profundidad</p>
						</li>
						<li>
							<p><strong>expanded</strong></p>
							<p>La más común. Cada regla y propiedad tienen su propia línea.</p>
						</li>
						<li>
							<p><strong>compact</strong></p>
							<p>Cada regla tiene su propia línea, las propiedades se apilan una detrás de la otra en una sola línea.</p>
							<p>Las reglas enlazadas van en líneas consecutivas.</p>
						</li>
						<li>
							<p><strong>compressed</strong></p>
							<p>Ésta opción toma la cantidad mínima depacio posible, eliminando los espacios innecesarios <br/>(los espacios entre selectores son necesarios) y retornos de carro.</p>
						</li>
					</ul>
				</small>
			</section>
		</section>

		<section>
			<h3>Carácterísticas de Sass</h3> 
			<p><small>Sass son los mismos css de siempre pero con superpoderes</small></p>
			<ul>
				<li class="fragment" >Preprocesamiento <small>(.scss --> .css)</small></li>
				<li class="fragment" >Variables</li>
				<li class="fragment" >Nesting <small>(Selectores enlazados)</small></li>
				<li class="fragment" >Import <small>(importado de archivos)</small></li>
				<li class="fragment" >Partials <small>(archivos parciales)</small></li>
				<li class="fragment" >Mixins <small>(funciones)</small></li>
				<li class="fragment" >Herencia <small>(Herencia de clases)</small></li>
				<li class="fragment" >Operaciones <small>(+, -, /, * ...)</small></li>
				<li class="fragment" >Directivas de control <small>(@if, @for, ...)</small></li>
			</ul>
		</section>
		
		<section>
			<h2>Preprocesamiento</h2>
			<img src="/images/preprocessing.png" style="border: none;box-shadow: none;">
			<p></p>
			<p><small>Sass lee los archivos con extension <strong>.scss</strong> escritos en su meta-lenguaje <br/>y los procesa en archivo/s <strong>.css</strong> que pueden ser usados en la web</small></p>
			<pre><code>$ sass --watch input.scss:output.css</code></pre>
		</section>
		
		<section>
			<section>
				<h2>Variables</h2>
				<small>
					<p>Almacenamos información que vamos a reutilizar a lo largo de nuestra hoja de estilos.</p>
					<p>La declaración de variables siempre empieza con <strong><code>$</code></strong></p>
				</small>
				<pre><code class="sass">$mainFont: 'Helvetica', sans;
$mainColor: #c3c3c3;

p {
  font: 10px $mainFont;
  color: $mainColor;
}</code></pre>
				<pre><code class="css">p {
  font: 10px 'Helvetica', sans;
  color: #c3c3c3; }</code></pre>
				</p>
			</section>
			<section>
				<h3>Tipos de variables</h3>
				<p><small>Declaraciones de algunos tipos de valiables</small></p>
				<ul style="display: block;">
					<li>
						<p>Booleanos</p>
						<pre><code>$rounded: true;</code></pre>
					</li>
					<li>
						<p>Números</p>
						<pre><code>$fontSize: 10;
$lineHeight: 0.7em;</code></pre>
					</li>
					<li>
						<p>Colores</p>
						<pre><code>$main: purple;
$alert: #ff0000;
$transparent: rgba(white, 0.5);</code></pre>
					</li>
				</ul>
			</section>
			<section>
				<h3>Tipos de variables <small>(cont.)</small></h3>
				<ul style="display: block;">
					<li>
						<p>Literales</p>
						<pre><code class="scss css">$font: 'Helvetica';
$content: "Cargando..." </code></pre>
					</li>
					<li>
						<p>Listas</p>
						<pre><code class="scss css">$colors: red, green, blue, yellow;
$margins: 10px 40px 0 10px; </code></pre>
					</li>
				</ul>
			</section>
			<section>
				<h3>Ámbito de las variables</h3>
				<small>
					<p>Las variables declaradas dentro de una declaracion <strong>(dentro de <code>{ }</code>)</strong> no pueden ser utlizadas fuera de ese bloque</p>
				</small>
				<pre><code class="scss css">p {
  $mainFont: 'Helvetica', sans;
  font: 10px $mainFont;
}
h1 { font: 14px $mainFont; }</code></pre><pre><code>error: unbound variable $mainFont</code></pre>
			</section>
			<section>
				<h3>Ámbito de las variables <small>(cont.)</small></h3>
				<small>
					<p>Definiendo nuevos valores a variables "globales", modificamos su valor para el resto de instancias</p>
				</small>
						<pre><code class="scss css">$mainColor: #c3c3c3;

p {
  color: $mainColor;
  $mainColor: #333;
}
h1 { color: $mainColor; }</code></pre>
						<pre><code class="scss css">p {color: #c3c3c3; } h1 {color: #333; }</code></pre>
			</section>
			<section>
				<h3>Escapando el valor de las variables</h3>
				<small>
					<p>Podemos escapar el valor de las variables para utilizar como <strong>selector, propiedad o literal</strong><br/>utilizando el formato: <strong><code>#{$variable}</code></strong></p>
				</small>
				<pre><code class="scss css">$top : top;

p {
  span-#{$top}{
    #{$top}:10px;
  }
}</code></pre>
				<pre><code class="scss css">p span-top {top: 10px; }</code></pre>
			</section>
		</section>
		
		<section>
			<section>
				<h2>Nesting</h2>
				<p>(Selectores enlazados)</p>
				<small>
					<p>Podemos enlazar selectores unos dentro de otros utilizando la misma herarquía que se encuantran el los documentos HTML</p>
				</small>
				<pre><code class="scss css">nav {
  border-bottom: 1px solid #ff0000;
  
  ul {
    list-style: none;
    li { padding-left: 10px; }
  }

  a {
      text-decoration: none; 
      &:hover {
        color: gray;
      }
  }
}</code></pre>
				<p><small>El símbolo <code>&</code> hace referencia al selector padre</small></p>
			</section>
			<section>
				<h3>Nesting</h3>
				<p>(Propiedades enlazadas)</p>
				<small>
					<p>Algunas propiedades también pueden enlazarse (font, border, padding, ...)</p>
				</small>
				<pre><code class="scss css">p { 
	&.especial {
	  font: {
	    family: "Helvetica", sans;
	    color: red;
	    weight: bold;
	  }
	}
}</code></pre>
				
			</section>
		</section>
		
		<section>
			<h2>Import</h2>
			<p>(Importación de archivos externos)</p>
			<small>
				<p>CSS permite importar porciones de código de otros archivos, haciendo nuetro código mantenible y escalable.</p>
				<p><code>@import url('partial/partial.css');</code></p>
				<p>Por cada <code>@import</code>, el navegador realiza una peticón HTTP<br/>Sass importa los archivos combinándolos, sirviendo un sólo archivo CSS</p>
			</small>
			<pre><code class="scss css">@import 'partials/partial';

.container {
  margin:0 auto;
  width: 996px;
  padding: 0 10px;
}</code></pre>
		<p><small>en la importación no es necesario incluir la extensión del archivo</small></p>
		</section>

		<section>
			<h2>Partials</h2>

			<p><small>Podemos generar archivos parciales con pequeños trozos de código (snippets) que serán incluídos dentro de el archivo final css <br/>
			Éstos archivos parciales van nombrados con un <strong>guión bajo <code>(_)</code></strong> en el nombre del archivo.</p></small>
			<code>_partials.scss</code>
			<pre><code class="scss css">// _partials.scss
@import 'partials/partial';</code></pre>
			<small><strong>Los partials no se compilan como css's</strong></small>
		</section>
		
		<section>
			<section>
				<h2>Mixins</h2>
				<p><small>Bloques de código repetitivo que puede tomar argumentos opcionales. <br/> Se comportan como funciones</small></p>
				<small>
				<ul>
					<li><p><strong>Declaración: </strong> <code>@mixin mixinName { //codigo }</code></p></li>
					<li><p><strong>Llamada: </strong> <code>@include mixinName;</code></p></li>
				</ul>
				</small>
				<pre><code class="scss css">@mixin linkBtn {
  text: {
    decoration:none;
    transform: uppercase;
  }
  color: #fabada;
}

ul.mainNav {
  a {
    @include linkBtn;
    background-color: #c3c3c3;
  }
}</code></pre>
			</section>
			<section>
				<p>@mixin</p>
				<pre><code class="scss css">@mixin boxShadow{
  -webkit-box-shadow: 0px 1px 1px rgba(black, 0.3);
  -moz-box-shadow: 0px 1px 1px rgba(black, 0.3);
  -o-box-shadow: 0px 1px 1px rgba(black, 0.3);
  -ms-box-shadow: 0px 1px 1px rgba(black, 0.3);
  box-shadow: 0px 1px 1px rgba(black, 0.3);
}

.module-a {
  @include boxShadow;
  background-color: white;
}

.module-b {
  @include boxShadow;
  background-color: red;
}</code></pre>
			</section>
			<section>
				<p>@mixin (argumentos)</p>
				<pre><code class="scss css">@mixin boxShadow($ops){
  -webkit-box-shadow: $ops;
  -moz-box-shadow: $ops;
  -o-box-shadow: $ops;
  -ms-box-shadow: $ops;
  box-shadow: $ops;
}

.module-a {
  @include boxShadow(0px 1px 1px rgba(black, 0.3));
  background-color: white;
}

.module-b {
  @include boxShadow(0px 1px 1px rgba(red, 0.3));
  background-color: red;
}</code></pre>
			</section>
			<section>
				<p>@mixin (arg1, arg2, ..., argN)</p>
				<pre><code class="scss css">@mixin boxShadow($xoffset, $yoffset, $blur, $color){
  -webkit-box-shadow: $xoffset $yoffset $blur $color;
  -moz-box-shadow: $xoffset $yoffset $blur $color;
  -o-box-shadow: $xoffset $yoffset $blur $color;
  -ms-box-shadow: $xoffset $yoffset $blur $color;
  box-shadow: $xoffset $yoffset $blur $color;
}

.module-a {
  @include boxShadow(0px, 1px, 1px, rgba(black, 0.3));
  background-color: white;
}

.module-b {
  @include boxShadow(0px, 1px, 1px, rgba(red, 0.3));
  background-color: red;
}</code></pre>
			</section>
		</section>
		
		<section>
			<section>
				<h2>Herencia</h2>
			<p>Extensión de clases</p>
			<small>
				<p><code>@extend .class</code></p>
			</small>
			<pre><code class="scss css">.alert{
  position: absolute;
  top: 5%; left: 5%; bottom: 5%; right: 5%;
  background-color: white;
  padding: 1em;
  text-align: center;
}

.warning{
  @extend .alert;
  border: 2px solid orange;
}

.success{
  @extend .alert;
  border: 2px solid olive;
}</code></pre>
			</section>
			<section>
				<h2>Herencia</h2>
				<p><strong>!! Atencion !!</strong></p>
				<pre><code class="scss css">.btn-a{
  text-transform:uppercase;
}

.btn-b { @extend .btn-a; }

.container .btn-a{
  text-transform: uppercase;
}</code></pre>
				<pre><code class="css">.btn-a, .btn-b {
  text-transform: uppercase; }

.container .btn-a, .container .btn-b {
  text-transform: uppercase; }</code></pre>
  				<p><small>Desde que una <strong>clase extiende a la otra</strong>, todo cambio que se produzca en la clase original, también lo hará en las extendidas, generando codigo innecesario</small></p>
			</section>
			<section>
				<h2>Herencia</h2>
				<p><strong>Solución</strong></p>
				<p>Placeholder selector (<code>%</code>) <br/><small>Puede extenderse, pero nunca actúa como un selector en sí mismo</small></p>
				<pre><code class="scss css">%btn{
  text-transform: lowercase;
}
.btn-a { @extend %btn; color: green; }
.btn-b { @extend %btn; color: red; }

.container .btn-a {
  text-transform: uppercase;
}</code></pre>
<pre><code class="css">.btn-a, .btn-b { text-transform: lowercase; }
.btn-a { color: green; }
.btn-b { color: red; }
.container .btn-a { text-transform: uppercase; }</code></pre>
			</section>
		</section>
		
		<section>
			<section>
				<h2>Operaciones</h2>
				<p><strong>Aritmética básica</strong></p>
				<small>
				<ul>
					<li><strong><code>+</code></strong> suma</li>
					<li><strong><code>-</code></strong> resta</li>
					<li><strong><code>*</code></strong> multiplicación</li>
					<li><strong><code>/</code></strong> división</li>
					<li><strong><code>%</code></strong> módulo</li>
				</ul>
				</small>
				<pre><code class="scss css">$family: "Helvetica " + "Neue";  // "Helvetica Neue"
font-size: 10px + 4pt;  // font-size: 14px;
width: 600px / 960px * 100%; // width: 62.5%;</code></pre>
			</section>
			<section>
				<h2>Operaciones</h2>
				<p><strong>Utilidades matemáticas predefinidas</strong></p>
				<small>
				<ul>
					<li><strong><code>round($number)</code></strong> - redondeo</li>
					<li><strong><code>ceil($number)</code></strong> - redondeo arriba</li>
					<li><strong><code>floor($number)</code></strong> - redondeo abajo</li>
					<li><strong><code>abs($number)</code></strong> - valor absoluto</li>
					<li><strong><code>min($list)</code></strong> - valor mínimo de una lista</li>
					<li><strong><code>max($list)</code></strong> - valor máximo de una lista</li>
					<li><strong><code>percentage($number)</code></strong> - valor a porcentaje</li>
				</ul>
				</small>
				<pre><code class="scss css">width: percentage(350px/1000px); // width: 35%;
line-height: ceil(1.2em); // line-height: 2em;
				</code></pre>
			</section>
			<section>
				<h2>Operaciones</h2>
				<p><strong>Otras funciones predefinidas (colores)</strong></p>
				<pre><code class="scss css">$color: #87bf64;
.grayscale {
  color: grayscale($color);
}
.invert {
  color: invert($color);
}
.complement {
  color: complement($color);
}		
				</code></pre>
			</section>
		</section>
		<section>
			<section>
				<h3>Directivas de control</h3>
				<small>
					<ul>
						<li>@if ... @else if ... @else</li>
						<li>@each</li>
						<li>@for</li>
						<li>@while</li>
					</ul>
				</small>
			</section>
			<section>
				<h3>Directivas de control</h3>
				<p><small>@if ... @else if ... @else</small></p>
				<pre><code class="scss css">$theme: pink;

 header {
   @if $theme == dark {
     background: #000;
   } @else if $theme == pink {
     background: pink;
   } @else {
     background: #fff;
   }
}</code></pre>
			</section>
			<section>
				<h3>Directivas de control</h3>
				<p><small>Operadores de comparacion</small></p>
				<small><ul>
					<li><strong>==</strong> igual a</li>
					<li><strong>!=</strong> no es igual / distinto</li>
					<li><strong>></strong> mayor que</li>
					<li><strong><</strong>menor que</li>
					<li><strong>>=</strong> mayor ó igual que</li>
					<li><strong><=</strong>menor ó igual que</li>
				</ul></small>
			</section>
			<section>
				<h3>Directivas de control</h3>
				<p><small>@each</small></p>
				<pre><code class="scss css">$authors: nick aimee dan drew;

@each $author in $authors {
  .author-#{$author} {
    background: url(author-#{$author}.jpg);
  }
}</code></pre>
			</section>
			<section>
				<h3>Directivas de control</h3>
				<p> <small>@for</small> </p>
				<pre><code class="scss css">$authors: nick aimee dan drew;

.item {
  position: absolute;
  right: 0;
  
  @for $i from 1 through length($authors) {
    $author : nth($authors, $i);
    &.item-#{$author} {
      top: $i * 30px;
    }
  }
  
}</code></pre>
			</section>
		</section>
		<section>
			<h3>Framework Compass</h3>
			<img src="/images/compass_logo.png" style="border: none;box-shadow: none;width: 50%;">
			<p><small>Dispone de una gran cantidad de @mixins para css3 que facilitan la creación de hojas de estilos para los navegadores modernos</small></p>
			<code><a href="http://compass-style.org/">http://compass-style.org/</a></code>
		</section>
		<section>
			<h1>That's all folks!!</h1>
			<img src="/images/logo-235e394c.png" style="border: none;box-shadow: none;width: 20%;">
			<p><code><a href="http://sass-lang.com/">http://sass-lang.com/</a></code></p>
		</section>
	</div>
{% endblock %}