{% extends 'slidesTemplates/sectionLayout.html' %}
{% block slide %}
	<h2><img src="http://yeoman.io/static/yeoman-02.83c46c7213.png" width="100px" style="vertical-align:middle;">Yeoman al rescate</h2>
	<p>Con el <a href="http://intergitlab.antena3tv.es/front/generator-backbone-module">Generador de módulos de Yeoman</a> tendrás todo lo necesario para empezar tu módulo con todo lo necesario</p>
	<p>Sólo necesitarás <strong>elegir un nombre</strong>, por nomenclatura que empiece por "a3mod_" ó "atresmedia_".<br>a3mod_login, atresmedia_carrusel,...</p><br>
	<p>El nombre del módulo se utilizará para la <strong>generacion de archivos</strong>, su uso en el <strong>Window como nombre global</strong> del módulo y la <strong>carga dinámica de módulos</strong></p>
	<br>
	<pre><code class="sh">
		# instalación de Yeoman
		> npm install -g yo
		# instalación de del generador de intergitlab
		> npm install -g generator-backbone_module
		# Creacion de carpeta del módulo -- nomenclarura de módulos [ a3mod_ | atresmedia_ ]
		> mkdir atresmedia_Hello && cd atresmedia_Hello
		# instalación de del generador de intergitlab
		> yo backbone_module
	</code></pre>
	<br>
	<p>¡Ya tenemos un scafolding de un módulo listo para empezar a programar!</p>
{% endblock%}